@import "variables";


.contBanner{
    width: 100%;
    height: 500px;
    padding: 10px 0px;
    background: white;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .contBanner__boxLeft{
        width: 650px;
        padding: 10px 0px;
        margin-left: 80px;
        z-index: 1;
        .contBanner__title{
            font-size: 90px;
            font-family:$font_family_title;
            color: $color_black;
        }

        .contBanner__description{
            margin-top: -20px;
            color:$color_grey_tenue;
            font-size: 60px;
            font-weight: $fontWeight_big;
        }

        .contBanner__line{
            width: 80%;
            margin-top: 20px;
            height: 1px;
            border: none;
            background:$color_grey_tenue;
        }

        .contBanner__btn{
            margin-top: 40px;
            width: 200px;
            padding: 10px;
            border: 2px solid transparent;
            background: $color_blue;
            color: white;
            cursor: pointer;
        }

        .contBanner__btn:hover{
            background: $color_blue_claro;
        }
    }

    .contBanner__boxRight{
        width: 500px;
        height: 550px;
        background:url(../images/img_men.png);
        background-size: 100% 100%;
        position: absolute;
        top: 50px;
        right: 80px;
    }
}






@media (min-width:1025px) and (max-width:1200px){
    .contBanner{
        width: 100%;
        height: 500px;
        padding: 10px 0px;
        background: white;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;        
        .contBanner__boxLeft{
            width: 55%;
            padding: 10px 0px;
            margin-left:40px;
            z-index: 1;
            .contBanner__title{
                font-size: 80px;
                font-family:$font_family_title;
                color: $color_black;
            }
    
            .contBanner__description{
                margin-top: -20px;
                color:$color_grey_tenue;
                font-size: 50px;
                font-weight: $fontWeight_big;
            }
    
            .contBanner__line{
                width: 80%;
                margin-top: 20px;
                height: 1px;
                border: none;
                background:$color_grey_tenue;
            }
    
            .contBanner__btn{
                margin-top: 40px;
                width: 200px;
                padding: 10px;
                border: 2px solid transparent;
                background: $color_blue;
                color: white;
                cursor: pointer;
            }
    
            .contBanner__btn:hover{
                background: $color_blue_claro;
            }
        }
    
        .contBanner__boxRight{
            width: 500px;
            height: 500px;
            background:url(../images/img_men.png);
            background-size: 100% 100%;
            position: absolute;
            top: 50px;
            right: 20px;
        }
    }
    
}   



@media (min-width:900px) and (max-width:1024px){
    .contBanner{
        width: 100%;
        height: 500px;
        padding: 10px 0px;
        background: white;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .contBanner__boxLeft{
            width: 55%;
            padding: 10px 0px;
            margin-left:40px;
            z-index: 1;
            .contBanner__title{
                font-size: 70px;
                font-family:$font_family_title;
                color: $color_black;
            }
    
            .contBanner__description{
                margin-top: -20px;
                color:$color_grey_tenue;
                font-size: 40px;
                font-weight: $fontWeight_big;
            }
    
            .contBanner__line{
                width: 80%;
                margin-top: 20px;
                height: 1px;
                border: none;
                background:$color_grey_tenue;
            }
    
            .contBanner__btn{
                margin-top: 40px;
                width: 200px;
                padding: 10px;
                border: 2px solid transparent;
                background: $color_blue;
                color: white;
                cursor: pointer;
            }
    
            .contBanner__btn:hover{
                background: $color_blue_claro;
            }
        }
    
        .contBanner__boxRight{
            width: 500px;
            height: 500px;
            background:url(../images/img_men.png);
            background-size: 100% 100%;
            position: absolute;
            top: 60px;
            right: 30px;
        }
    }
    
}  









@media (min-width:770px) and (max-width:899px){
    .contBanner{
        width: 100%;
        height: 500px;
        padding: 10px 0px;
        background: white;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .contBanner__boxLeft{
            width: 60%;
            padding: 10px 0px;
            margin-left:30px;
            z-index: 1;
            .contBanner__title{
                font-size: 60px;
                font-family:$font_family_title;
                color: $color_black;
            }
    
            .contBanner__description{
                margin-top: -10px;
                color:$color_grey_tenue;
                font-size: 30px;
                font-weight: $fontWeight_big;
            }
    
            .contBanner__line{
                width: 80%;
                margin-top: 20px;
                height: 1px;
                border: none;
                background:$color_grey_tenue;
            }
    
            .contBanner__btn{
                margin-top: 40px;
                width: 200px;
                padding: 10px;
                border: 2px solid transparent;
                background: $color_blue;
                color: white;
                cursor: pointer;
            }
    
            .contBanner__btn:hover{
                background: $color_blue_claro;
            }
        }
    
        .contBanner__boxRight{
            width: 400px;
            height: 400px;
            background:url(../images/img_men.png);
            background-size: 100% 100%;
            position: absolute;
            top: 60px;
            right: 30px;
        }
    }
    
} 





@media (min-width:641px) and (max-width:769px){
    .contBanner{
        width: 100%;
        height: 500px;
        padding: 10px 0px;
        background: white;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .contBanner__boxLeft{
            width: 80%;
            padding: 10px 0px;
            margin-left:30px;
            z-index: 1;
            .contBanner__title{
                font-size: 55px;
                font-family:$font_family_title;
                color: $color_black;
            }
    
            .contBanner__description{
                margin-top: -10px;
                color:$color_grey_tenue;
                font-size: 30px;
                font-weight: $fontWeight_big;
            }
    
            .contBanner__line{
                width: 80%;
                margin-top: 20px;
                height: 1px;
                border: none;
                background:$color_grey_tenue;
            }
    
            .contBanner__btn{
                margin-top: 40px;
                width: 200px;
                padding: 10px;
                border: 2px solid transparent;
                background: $color_blue;
                color: white;
                cursor: pointer;
            }
    
            .contBanner__btn:hover{
                background: $color_blue_claro;
            }
        }
    
        .contBanner__boxRight{
            width:350px;
            height: 350px;
            background:url(../images/img_men.png);
            background-size: 100% 100%;
            position: absolute;
            top: 60px;
            right: 20px;
        }
    }
    
} 




@media (min-width:481px) and (max-width:640px){
    .contBanner{
        width: 100%;
        height: initial;
        padding: 10px 10px;
        background: white;
        position: initial;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .contBanner__boxLeft{
            width: 100%;
            padding: 10px 0px;
            margin-left:initial;
            z-index: 1;
            .contBanner__title{
                font-size: 70px;
                font-family:$font_family_title;
                color: $color_black;
            }
    
            .contBanner__description{
                margin-top: -15px;
                color:$color_grey_tenue;
                font-size: 30px;
                font-weight: $fontWeight_big;
            }
    
            .contBanner__line{
                width: 80%;
                margin-top: 20px;
                height: 1px;
                border: none;
                background:$color_grey_tenue;
            }
    
            .contBanner__btn{
                margin-top: 40px;
                width: 200px;
                padding: 10px;
                border: 2px solid transparent;
                background: $color_blue;
                color: white;
                cursor: pointer;
            }
    
            .contBanner__btn:hover{
                background: $color_blue_claro;
            }
        }
    
        .contBanner__boxRight{
            width:75%;
            height: 75%;
            position: initial;
            top: initial;
            right: initial;
        }
    }
    
} 



/*
RESPONSIVE DESING OFICIAL NUEVO
@media (min-width:1025px) and (max-width:1200px){}     175px
@media (min-width:900px)  and (max-width:1024px){}     124px
@media (min-width:770px)  and (max-width:899px){}      129px
@media (min-width:641px)  and (max-width:769px){}      128px
@media (min-width:481px)  and (max-width:640px){}      159px
@media (min-width:320px)  and (max-width:480px){}      160px
*/


@media (min-width:320px) and (max-width:480px){
    .contBanner{
        width: 100%;
        height: initial;
        padding: 30px 10px;
        background: white;
        position: initial;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .contBanner__boxLeft{
            width: 100%;
            padding: 20px 0px;
            margin-left:initial;
            z-index: 1;
            .contBanner__title{
                width: 50%;
                font-size: 85px;
                font-family:$font_family_title;
                color: $color_black;
                line-height: 75px;
            }
    
            .contBanner__description{
                margin-top: 10px;
                color:$color_grey_tenue;
                font-size: 30px;
                font-weight: $fontWeight_big;
            }
    
            .contBanner__line{
                width: 80%;
                margin-top: 20px;
                height: 1px;
                border: none;
                background:$color_grey_tenue;
            }
    
            .contBanner__btn{
                margin-top: 40px;
                width: 200px;
                padding: 10px;
                border: 2px solid transparent;
                background: $color_blue;
                color: white;
                cursor: pointer;
            }
    
            .contBanner__btn:hover{
                background: $color_blue_claro;
            }
        }
    
        .contBanner__boxRight{
            width:95%;
            height: 95%;
            position: initial;
            top: initial;
            right: initial;
        }
    }
    
} 

