@import "variables";


/*
contFooter
blockFooter
contFooter__image
contfooter
footer__li
footer__a
footerLine
blockPie
pie__copyRight

*/

.contFooter{
    margin-top: 100px;
    width: 100%;
    padding: 30px 40px;
    background:$color_grey_claro;
    
    .blockFooter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .contFooter__image{
            width: 50px;
            height: 50px;
        }

        .contfooter{
            width: 200px;
            .footer__li{
                list-style: none;
                .footer__a{
                    text-decoration: none;
                    color: $color_grey_fuerte;
                }
                .footer__a:hover{
                    color: $color_black;
                    font-weight: 600;
                }
            }
        }
    }

    .footerLine{
        width: 80%;
        height: 1.5px;
        margin: 10px auto;
        background: $color_grey_tenue;
    }

    .blockPie{
        width: 100%;
        padding: 5px 0px;
        .pie__copyRight{
            text-align: center;
        }
    }

    
}