@import "variables";

.grid__container{
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    background: brown;
    box-shadow: 5px 5px 10px grey;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas: 
        "grid__header          grid__header"
        "grid__banner          grid__banner"
        "grid__sectionImage    grid__sectionFashion"
        "grid__sectionCards    grid__sectionCards"
        "grid__blocks          grid__blocks"
        "grid__news            grid__news"
        "grid__designer        grid__designer"
        "grid__footer          grid__footer"
    ;

    .grid__header{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__header;
    }

    .grid__banner{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__banner;
    }

    .grid__sectionImage{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__sectionImage;
    }

    .grid__sectionFashion{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__sectionFashion;
    }

    .grid__sectionCards{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__sectionCards;
    }

    .grid__blocks{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__blocks;
    }

    .grid__news{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__news;
    }

    .grid__designer{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__designer;
    }

    .grid__footer{
        padding: 10px 0px;
        background: rgb(238, 92, 92);
        grid-area: grid__footer;
    }
}