@import "variables";




.grid__container{
    width: 100%;
    max-width: 1440px;
    //padding: 10px 0px;
    margin: auto;
    //overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "grid__header          grid__header          grid__header          grid__header"
        "grid__banner          grid__banner          grid__banner          grid__banner"
        "grid__sectionImage    grid__sectionImage    grid__sectionFashion  grid__sectionFashion"
        "grid__sectionCards    grid__sectionCards    grid__sectionCards    grid__sectionCards"
        "grid__blocks          grid__blocks          grid__blocks          grid__blocks"
        "grid__news            grid__news            grid__news            grid__designer"
        "grid__footer          grid__footer          grid__footer          grid__footer"
    ;

    .grid__header{
        height: 60px;
        background: white;
        grid-area: grid__header;
    }

    .grid__banner{
        background: white;
        grid-area: grid__banner;
    }

    .grid__sectionImage{
        background: white;
        grid-area: grid__sectionImage;
    }

    .grid__sectionFashion{
        background: white;
        grid-area: grid__sectionFashion;
    }

    .grid__sectionCards{
        background: rgb(255, 255, 255);
        grid-area: grid__sectionCards;  
    }

    .grid__blocks{
        background: rgb(255, 255, 255);
        grid-area: grid__blocks;
    }

    .grid__news{
        background: rgb(255, 255, 255);
        grid-area: grid__news;
    }

    .grid__designer{
        background: rgb(255, 255, 255);
        grid-area: grid__designer;
    }

    .grid__footer{
        background: rgb(255, 255, 255);
        grid-area: grid__footer;
    }
}









/*******************************
**********************************
************************/
@media (min-width:500px) and (max-width:1024px){
    .grid__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "grid__header            grid__header"
            "grid__banner            grid__banner"
            "grid__sectionImage      grid__sectionFashion"
            "grid__sectionCards      grid__sectionCards"
            "grid__blocks            grid__blocks"
            "grid__news              grid__news"
            "grid__designer          grid__designer"
            "grid__footer            grid__footer";
    }
}




/*******************************
**********************************
************************/
@media (min-width:320px) and (max-width:499px){
    .grid__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "grid__header            grid__header"
            "grid__banner            grid__banner"
            "grid__sectionFashion    grid__sectionFashion"
            "grid__sectionImage      grid__sectionImage"
            "grid__sectionCards      grid__sectionCards"
            "grid__blocks            grid__blocks"
            "grid__news              grid__news"
            "grid__designer          grid__designer"
            "grid__footer            grid__footer";

    }
}



