@import "variables";

.contHeader{
    width: 100%;
    background:$color_grey_claro;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;    
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    .contHeader__logo{
        margin-left: 30px;
        width: 60px;
        height: 60px;
    }

    .contHeader__ul{
        width: 500px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background: $color_grey_claro;
        .contHeader__li{
            width: 150px;
            padding:10px 0px;
            text-align: center;
            position: relative;
            background-color: $color_grey_claro;
            .contHeader__a{
                text-decoration: none;
                color: rgb(114, 114, 114);
                font-weight: 600;
                .arrow{
                    font-size: 15px;
                }
            }

            .ul_action{
                padding: 3px 0px;
                width: 100%;
                transition: 0.5s all;
                background: $color_grey_claro;
                position: absolute;
                top: 35px;
                left: 30px;
                opacity: 0;
                visibility: hidden;
                .li_action{
                    list-style: none;
                    padding: 10px 20px;
                    margin: 2px;
                    text-align: start;
                    .a_action{
                        text-decoration: none;
                        color: rgb(26, 26, 26);
                    }
                }
                .li_action:hover{
                    background: $color_grey_fuerte;
                    .a_action{
                        color: $color_white;
                    }
                }
            }
        }

        .contHeader__li:hover{
            .ul_action{
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .contHeader__boxes{
        width: 120px;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
        .contHeader__box{
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            .boxIcon{
                color: grey;
                font-size: 25px;
            }
            .boxIcon:hover{
                color: $color_grey_fuerte;
                cursor:pointer;
            }
        }
    }

    .contHeader__btn{
        width: 35px;
        height: 35px;
        background: brown;
        margin-right: 20px;
        display: none;
    }
}
