@import "variables";

.contSectionFashion{
    margin-top: 60px;
    width: 90%;
    padding: 20px;
    background: white;
    .contSectionFashion__title{
        color: $color_grey_fuerte;
        font-size: $font_size_subtitle;
        font-weight: $fontWeight_madia;
    }
    .contSectionFashion__parraf{
        margin-top: 20px;
        color:$color_grey_tenue;
    }

    .contSectionFashion__btn{
        margin-top: 25px;
        width: 200px;
        padding: 10px 0px;
        border: none;
        background: $color_grey_fuerte;
        color: $color_white;
        cursor: pointer;
    }

    .contSectionFashion__btn:hover{
        background: $color_grey_tenue;
    }
}