@import "variables";

.contNews{
    margin-top: 10px;
    margin-right: 30px;
    width: 90%;
    padding: 10px 0px;
    float: right;
    background:$color_grey_claro;
    .contNews__title{
        text-align: center;
        color: $color_grey_fuerte;
        font-size: $font_size_subtitle;
        font-weight: $fontWeight_madia;
    }

    .contNews__block{
        margin-top: 20px;
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        .contNews__boxLeft{
            width: 300px;
            height: 200px;
        }
        .contNews__boxRight{
            width: calc(60% - 10px);
            .contNews__boxRight__title{
                color: $color_grey_fuerte;
                font-size: 20px;
                font-weight: $fontWeight_madia;
            }
            .contNews__description{
                margin-top: 10px;
            }

            .contNews__btn{
                margin-top: 20px;
                width: 200px;
                padding: 10px 0px;
                border: none;
                background: $color_grey_fuerte;
                color: $color_white;
            }
            .contNews__btn:hover{
                background: $color_grey_tenue;
                cursor: pointer;
            }
        }
    }
}