@import "variables";


.contDesigner{
    margin-top: 10px;
    width:80%;
    height: 300px;
    padding: 30px;
    text-align: center;
    background: $color_grey_claro;
    .contDesigner__image{
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;
    }

    .contDesigner__title{
        margin-top: 10px;
        color: $color_grey_fuerte;
        font-size: 22px; 
        line-height: 25px;
        font-weight: $fontWeight_madia;
    }

    .contDesigner__description{
        margin-top: 10px;
        color: $color_grey_tenue;
    }
}