

//FONTS
$font_family_title:'Rakkas', cursive;

$font_weight_parrafos:300;
$font_weight_subtitles:600;


//COLORS
$color_grey_fuerte:rgb(61, 61, 61);
$color_grey_tenue:rgb(97, 97, 97);
$color_grey_claro:rgb(221, 221, 221);
$color_white:white;
$color_black:rgb(0, 0, 0);
$color_blue:rgb(20, 17, 57);
$color_blue_claro:rgb(46, 39, 125);



//SIZE FONT
$font_size_subtitle:35px;
