

//FONTS
$font_family_title:'Rakkas', cursive;

$font_weight_parrafos:300;
$font_weight_subtitles:600;


//COLORS
$color_grey_fuerte:rgb(61, 61, 61);
$color_grey_tenue:rgb(97, 97, 97);
$color_white:white;
$color_black:rgb(0, 0, 0);
$color_blue:rgb(20, 17, 57);

