@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Signika+Negative:wght@300;600&display=swap');


@import "variables";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





@import "grid";
@import "header";
@import "banner";
@import "sectionImage";
@import "sectionFashion";
@import "sectionCards";
@import "blocks";
@import "sectionNews";
@import "sectionDesigner";
@import "footer";











