@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Signika+Negative:wght@300;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');


@import "variables";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth ;

}



body{
    scroll-behavior:unset;
    background: rgb(44, 44, 44)

}

body::-webkit-scrollbar{
    width: 15px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgb(95, 95, 95);
    border-radius: 20px;
    height: 100px;
}
body::-webkit-scrollbar-thumb:hover{
    background: rgb(50, 50, 50);
    height: 150px;
    
}

@import "grid";
@import "header";
@import "banner";
@import "sectionImage";
@import "sectionFashion";
@import "sectionCards";
@import "blocks";
@import "sectionNews";
@import "sectionDesigner";
@import "footer";


////////////////////
@import "btnTop";











