/*https://www.youtube.com/watch?v=ZhiSV-zPBzI*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: none;

}

.main-nav{
    width: 100%;
    position: fixed;
}

.menu{
    width: 100%;
    background: rgb(26, 25, 25);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu__link{
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: 0.1s all;

}

.menu .menu__link{
    transition: 0.5s all;
}
.menu .menu__link:hover{
    background: black;
}

.container-submenu{
    position: relative;
}

.container-submenu .submenu{
    background: rgb(63, 63, 63);
    list-style: none;
    position: absolute;
    top: 59px;
    left: 5px;
    width: 200px;
    /*overflow: visible;*/
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s ease;
}

.container-submenu:hover .submenu{
    opacity: 1;
    visibility: visible;
}

.submenu .menu__link:hover{
    background: rgb(32, 32, 32);
}









@media (min-width:320px) and (max-width:720px){
    .nav-bar{
        display: block;
        padding: 20px;
        background: rgb(26, 25, 25);
        color: white;
        width: 100%;
        position: fixed;
        z-index: 10;
        display: flex;
        align-items: center;

    }
    .nav-bar .fa-bars{
        color: rgb(9, 180, 14);
        font-size: 30px;
        cursor: pointer;
        margin-right:10px ;
    }
    
    .main-nav{
        margin-top: 70px;
        width: 100%;
    }
    
    .menu{
        width: 100%;
        background: rgb(51, 51, 51);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: -100%;
        transition: 0.7s all;
        opacity: 0;
        visibility: hidden;
    }

    .menu__item{
        width: 100%;
    }
    
    .menu__link{
        width: 100%;
        display: block;
        color: white;
        padding: 20px;
        background: rgb(50, 50, 50);
        transition: 0.1s all;
        
    }
    
    .menu .menu__link{
        transition: 0.3s all;
    }
    
    .menu_JS{
        margin-left: 0;
        opacity: 1;
        visibility: visible;
    }
    
    .container-submenu{
        position: relative;
    }
    
    .container-submenu .submenu{
        margin-left: 20px;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
        height: 0;
        transition: 0.5s all;
    }

  
}





